body {
  margin: 0;
  font-family: sans-serif;
}

canvas {
  background-color: rgb(218, 218, 218);
}

.score {
  position: absolute;
  color: white;
  padding: 8px;
  font-size: 18px;
  user-select: none;
}